@page "{datasetName?}"
@using RazorWebApp.Structures
@model RazorWebApp.Pages.Data.CreateModel 
@{ 
    ViewData["Title"] = @Model.ActiveDatasetDescriptor.Name; 
}

<!-- Application menu -->
@{Html.RenderPartial("Shared/_LoggedMenuPartial", Model.MenuData); }

<!-- Application body -->
<div class="row">
    <!-- Side menu with read authorized datasets -->
    @{Html.RenderPartial("Shared/_ReadAuthorizedDatasetsMenuPartial", Model.ReadAuthorizedDatasets); }

    <div class="col-sm-9">
        <!-- Messages -->
        @if (Model.Messages != null || Model.Messages.Count != 0){
            Html.RenderPartial("Shared/_MessagesPartial", Model.Messages);
        }

        <h2>@ViewData["Title"]</h2>

        <!-- New dataset data creation form -->
        <form method="post">
            <input type="hidden" asp-for="DatasetName"/>

            <!-- Input for each dataset attribute -->
            @foreach (var attribute in Model.ActiveDatasetDescriptor.Attributes){
                <div class="form-group">
                    <label>@attribute.Name</label>
                    <small>@attribute.Description</small>
                    @{Html.RenderPartial("Shared/_EditBuilderPartial", 
                                        new EditBuilderPartialData {
                                                                        Attribute = attribute, 
                                                                        OutValue = "NewDataDictionary[" + attribute.Name + "]",
                                                                        InValue = Model.NewDataDictionary[attribute.Name],
                                                                        SelectData = Model.SelectData
                                                                    }
                                        ); 
                    }
                </div>
            }
            <div class="form-group">
                <button type="submit" class="btn btn-default">Save</button>
            </div>
        </form>
    </div>
</div>