@using SharedLibrary.Enums 

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header pull-left">
            <button class="navbar-brand visible-xs btn-transparent" data-toggle="collapse" data-target="#logoutMenuCollapse">
                <i class="fa fa-bars"></i>
            </button>
            <a asp-page="/Index" class="navbar-brand">
                MetaRMS
            </a>
        </div>
        <div class="navbar-collapse collapse pull-right" id="logoutMenuCollapse">
            <!-- Create new application -->
            <ul class="navbar-nav">
                <li>
                    <a asp-page="/AppInit/Index" class="navbar-brand">
                        <i class="fas fa-plus"></i>
                        Create new application
                    </a>
                </li>
            </ul>
            <!-- About page -->
            <ul class="nav navbar-nav navbar-right">
                <li><a asp-page="/About">About</a></li>
            </ul>
        </div>
    </div>
</nav>