@page
@using SharedLibrary.Enums
@using Core.Structures
@model Core.Pages.Account.SettingsModel
@{ 
    ViewData["Title"] = "Settings"; 
}

<!-- Application menu -->
@{Html.RenderPartial("Shared/_LoggedMenuPartial", Model.MenuData); }

<!-- Application body -->
<div class="container-fluid logged-page-content">
    <div class="col-sm-12">
        <!-- Messages -->
        @if (Model.Messages != null && Model.Messages.Count != 0){
            Html.RenderPartial("Shared/_MessagesPartial", Model.Messages);
        }

        <h2>@ViewData["Title"]</h2>

        <!-- Password change form -->
        <form method="post">
            @{ var passwordAttribute = Model.ApplicationDescriptor.SystemDatasets.UsersDatasetDescriptor.PasswordAttribute; }
            <h3>@passwordAttribute.Name</h3>
            <!-- Old password -->
            <div class="form-group">
                <label>Old password</label>
                <!-- Old password does not use Shared/_InputBuilderPartial since we want to omit the check for password length -->
                <input 	name="PasswordChangeStructure.OldPassword"
                        class="form-control"
                        type="password"
                        required
                >
            </div>
            <!-- New password -->
            <div class="form-group">
                <label>New password</label>
                <small>@passwordAttribute.Description</small>
                @{Html.RenderPartial("Shared/_InputBuilderPartial", 
                                        new InputBuilderPartialData {
                                                                    Attribute = passwordAttribute, 
                                                                    OutValue = "PasswordChangeStructure.NewPassword",
                                                                    SelectData = null
                                                                    }
                                    ); 
                }
            </div>
            <!-- New password once again -->
            <div class="form-group">
                <label>New password once again</label>
                @{Html.RenderPartial("Shared/_InputBuilderPartial", 
                                        new InputBuilderPartialData {
                                                                    Attribute = passwordAttribute, 
                                                                    OutValue = "PasswordChangeStructure.NewPasswordCopy",
                                                                    SelectData = null
                                                                    }
                                    ); 
                }
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default">Change</button>
            </div>
        </form>
    </div>
</div>