@page "{handler?}"
@using SharedLibrary.Enums
@using RazorWebApp.Structures
@model RazorWebApp.Pages.Account.SettingsModel
@{ 
    ViewData["Title"] = "Settings"; 
}

@{Html.RenderPartial("Shared/_LoggedMenuPartial", Model.MenuData); }


<div class="row">
    <div class="col-sm-12">
        <h2>@ViewData["Title"]</h2>
        @if (Model.Message != null || Model.Message != ""){
                <div class="modal-body col-sm-12 center-block text-center">
                    <span><b>@Model.Message</b></span>
                </div>
        }
        <form method="post">
            <h2>Password</h2>
            <div class="form-group">
                @{ var passwordAttribute = Model.ApplicationDescriptor.SystemDatasets.UsersDatasetDescriptor.PasswordAttribute; }
                <label>Old password</label>
                @{Html.RenderPartial("Shared/_InputBuilderPartial", 
                                        new InputBuilderPartialData {
                                                                    Attribute = passwordAttribute, 
                                                                    OutValue = "PasswordChangeStructure.OldPassword",
                                                                    SelectData = null
                                                                    }
                                    ); 
                }
            </div>
            <div class="form-group">
                <label>New password</label>
                <small>@passwordAttribute.Description</small>
                @{Html.RenderPartial("Shared/_InputBuilderPartial", 
                                        new InputBuilderPartialData {
                                                                    Attribute = passwordAttribute, 
                                                                    OutValue = "PasswordChangeStructure.NewPassword",
                                                                    SelectData = null
                                                                    }
                                    ); 
                }
            </div>
            <div class="form-group">
                <label>New password once again</label>
                @{Html.RenderPartial("Shared/_InputBuilderPartial", 
                                        new InputBuilderPartialData {
                                                                    Attribute = passwordAttribute, 
                                                                    OutValue = "PasswordChangeStructure.NewPasswordCopy",
                                                                    SelectData = null
                                                                    }
                                    ); 
                }
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default">Change</button>
            </div>
        </form>
    </div>
</div>