@page "{handler?}"
@using SharedLibrary.Enums
@model RazorWebApp.Pages.Account.SettingsModel
@{ 
    ViewData["Title"] = "Settings"; 
}

@{Html.RenderPartial("Shared/_LoggedMenuPartial", Model.MenuData); }


<div class="row">
    <div class="col-sm-12">
        <h2>@ViewData["Title"]</h2>
        @if (Model.Message != null || Model.Message != ""){
                <div class="modal-body col-sm-12 center-block text-center">
                    <span><b>@Model.Message</b></span>
                </div>
        }
        <form method="post">
            <h2>Password</h2>
            <div class="form-group">
                <label>Old password</label>
                <input name="ValueList[0]" class="form-control" type="password">
            </div>
            <div class="form-group">
                <label>Old password once again</label>
                <input name="ValueList[1]" class="form-control" type="password">
            </div>
            <div class="form-group">
                <label>New password</label>
                <input name="ValueList[2]" class="form-control" type="password">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default">Change</button>
            </div>
        </form>
    </div>
</div>