@page
@using SharedLibrary.StaticFiles
@model ErrorModel
@{
    ViewData["Title"] = "Server Eroror";
}

<!-- MetaRMS header -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header pull-left">
            <a asp-page="/Index" class="navbar-brand">
                MetaRMS
            </a>
        </div>
    </div>
</nav>

<!-- Application login body -->
<div class="container-fluid">
    <div class="row">
        <!-- Heading -->
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h2>Server error</h2>
        </div>
    </div>
    <div class="row">
        <!-- Info -->
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <p>Please try your previous action once again.</p>
            <p>
                If the error persists, please contact MetaRMS administrator on 
                <a href="@Constants.MetaRMAAdministratorContactEmail">@Constants.MetaRMAAdministratorContactEmail</a>.
                Please provide your Login application name and Username you use when logging into the application.
                Also describe what you were doing before this error occured.
            </p>
        </div>
    </div>
</div>