@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-page="/Index" class="navbar-brand">MetaRMS</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a asp-page="/AppInit/Index" class="navbar-brand">Create new application</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a asp-page="/About">About</a></li>
                </ul>
            </div>
        </div>
    </nav>

<div class="container-fluid">
<div class="row">
    <div class="col-md-4 mx-auto mh-10"  style="float: none; margin: 0 auto;">
        <h2>Log in</h2>
        <form method="post">
            
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.ApplicationName"></label>
                <input asp-for="Input.ApplicationName" class="form-control">
                <span asp-validation-for="Input.ApplicationName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Username"></label>
                <input asp-for="Input.Username" class="form-control">
                <span asp-validation-for="Input.Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control">
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default">Log in</button>
            </div>
        </form>
    </div>
</div>
</div>