@page
@model IndexModel
@{
    ViewData["Title"] = "Server Eroror";
}

@{Html.RenderPartial("Shared/_LogoutMenuPartial"); }

<div class="modal-body col-sm-12 center-block text-center">
    <span><b>Server Error</b></span>
    <br>
    <span>Web admin has been informed about this information and is working on a repair.</span>
</div>