@page
@model RazorWebApp.Pages.Errors.UnauthorizedModel
@{
    ViewData["Title"] = "Unauthorized";
}

@{Html.RenderPartial("Shared/_LogoutMenuPartial"); }

<div class="modal-body col-sm-12 center-block text-center">
    <span><b>Unauthorized</b></span>
    <br>
    <span>Your permissions are not sufficient for this operation, return back to previous page or log in as another user.</span>
</div>

