@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}

<!-- Logout menu -->
@{Html.RenderPartial("Shared/_LogoutMenuPartial"); }

<!-- Application login body -->
<div class="container-fluid">
    <div class="row">
        <!-- Header -->
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h3>What is MetaRMS</h3>
			<p>Imagine a system where you can easily define your own application structure, a system with which you can start using custom made application in just a few clicks. Now stop your imagination - the system is real and it is right in front of you. MetaRMS is an application creating software, available to anybody for free to try and use.</p>
			<p>MetaRMS is a result of a bachelor thesis. All the source codes can be found on <a href="https://github.com/sapoi/MetaRMS">github.com/sapoi/MetaRMS</a>. The project also contains the text of the thesis itself. Feel free to read it.</p>
			
			<h3>How can I join</h3>
			<p>To create your first application, you must understand the way how to define it. To achieve this it is recommended to read chapter 5, especially section 5.3 of the thesis.</p>

			<hr>
			<h3>Contact</h3>
			<p>If you have any additional questions feel free to write me an email to <a href="mailto:sapoiapps@gmail.com">sapoiapps@gmail.com</a></p>
        </div>
    </div>
</div>
