@page
@model Core.Pages.IndexModel
@{
    ViewData["Title"] = "MetaRMS";
}

<!-- Logout menu -->
@{Html.RenderPartial("Shared/_LogoutMenuPartial"); }

<!-- Application login body -->
<div class="container-fluid">
    <div class="row">
        <!-- Header -->
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h2>Log in</h2>
        </div>
    </div>
    <div class="row">
        <!-- Info box -->
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <!-- Messages -->
            @if (Model.Messages != null && Model.Messages.Count != 0){
                Html.RenderPartial("Shared/_MessagesPartial", Model.Messages);
            }
        </div>
    </div>
    <div class="row">
        <!-- Log in form -->
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <form method="post">
                <div class="form-group">
                    <label>Login application name</label>
                    <input name="LoginCredentials.LoginApplicationName" value="@Model.LoginCredentials.LoginApplicationName" class="form-control" type="text" required />
                </div>
                <div class="form-group">
                    <label>Username</label>
                    <input name="LoginCredentials.Username" value="@Model.LoginCredentials.Username" class="form-control" type="text" required />
                </div>
                <div class="form-group">
                    <label>Login application name</label>
                    <input name="LoginCredentials.Password" value="@Model.LoginCredentials.Password" class="form-control" type="password" required />
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default">Log in</button>
                </div>
            </form>
        </div>
    </div>
</div>