@page
@model RazorWebApp.Pages.Appinit.IndexModel

@{
    ViewData["Title"] = "Schedules";
}

@{Html.RenderPartial("Shared/_LogoutMenuPartial"); }

<h3>Create new application</h3>
<div class="modal-body col-sm-12 center-block text-center">
    <span><b>Make sure you have read the about page and that you are inserting application descriptor in correct format.</b></span>
</div>
<br><br>
@if (Model.Message != null || Model.Message != ""){
    <div class="modal-body col-sm-12 center-block text-center">
        <span><b>@Model.Message</b></span>
    </div>
}
<br>    
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" type="text" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FileUpload" class="control-label"></label>
                <input asp-for="FileUpload" type="file" class="form-control" style="height:auto" />
                <span asp-validation-for="FileUpload" class="text-danger"></span>
            </div>
            <input type="submit" value="Upload" class="btn btn-default" />
        </form>
    </div>
</div>

