body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}


/* All devices */
.navbar.fixed-left{
    position:fixed;
    top:50px;
    left:0;
    z-index: 1030;
    border-radius: 0;
    list-style: none;
    width:100%;
    margin-left: 0;
    line-height: 2;
}
.navbar.fixed-left.navbar-collapse .navbar-nav{
    flex-direction:column; 
    width:100%;
    list-style: none;
    padding: 1rem 1rem;
}
.btn-transparent, .btn-transparent:focus {
  outline: none;
  border: 0;
  box-shadow: none;
  background: transparent;
}
/* Desktop devices */
@media (min-width:768px){
    .container-fluid.logged-page-content{
        margin-left:200px;
    }
    .navbar.fixed-left{
        bottom:0;
        overflow: auto;
        margin-bottom: 0;
        width:200px;
        overflow: scroll !important;
    }
    .navbar.fixed-left.navbar-collapse .navbar-nav{
        flex-direction:column; 
    }
    .navbar.fixed-left.navbar-collapse .navbar-nav .nav-item{
        width:100%
    }
}