@using SharedLibrary.Enums 
@model RazorWebApp.Structures.LoggedMenuPartialData

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <!-- Name of application the user is logged into -->
        <div class="navbar-header">
            <a asp-page="/Index" class="navbar-brand">@Model.ApplicationName</a>
        </div>
        <div class="navbar-collapse collapse">
            <!-- Logout button -->
            <ul class="nav navbar-nav navbar-right">
                <li><a asp-page="../Account/Logout" class="navbar-brand">Logout</a></li>
            </ul>
            <!-- System datasets button displayed if user has at least read rights to each of them and user setings -->
            <ul class="nav navbar-nav navbar-right">
                <!-- Users -->
                @if (Model.NavbarRights[(long)SystemDatasetsEnum.Users] >= RightsEnum.R) 
                {
                    <li>
                        <a asp-page="../User/Get">@Model.UsersDatasetName</a>
                    </li>
                } 
                <!-- Rights -->
                @if (Model.NavbarRights[(long)SystemDatasetsEnum.Rights] >= RightsEnum.R) 
                {
                    <li>
                        <a asp-page="../Rights/Get">Rights</a>
                    </li>
                }
                <!-- Settings -->
                <li>
                    <a asp-page="/Account/Settings">Settings</a>
                </li>
            </ul>
        </div>
    </div>
</nav>