@using SharedLibrary.Enums 
@model RazorWebApp.Structures.LoggedMenuPartialData

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header pull-left">
            <button class="navbar-brand visible-xs btn-transparent" data-toggle="collapse" data-target="#sidebarCollapse">
                <i class="fa fa-bars"></i>
            </button>
            <a asp-page="/Index" class="navbar-brand">
                @Model.ApplicationName
            </a>
        </div>
        <span class="navbar-text pull-right">
            <!-- TODO display username <i class="fas fa-user"></i>Username -->
        </span>
    </div>
</nav>

<!-- Sidebar menu -->
<div class="navbar fixed-left collapse navbar-collapse navbar-inverse" id="sidebarCollapse">
	<ul class="navbar-nav">
        <!-- User defined datasets -->
		@foreach (var dataset in Model.ReadAuthorizedDatasets) 
        {
            string link = "~/Data/Get/" + dataset.Name;
			<li class="nav-item">
                <a class="nav-link" href="@Url.Content(link)">@dataset.Name</a>
			</li>
		}
	</ul>
    <ul class="navbar-nav">
        <!-- Users -->
        @if (Model.NavbarRights[(long)SystemDatasetsEnum.Users] >= RightsEnum.R) 
        {
            <li class="nav-item">
                <a class="nav-link" asp-page="../User/Get">
                    <i class="fas fa-users"></i>
                    @Model.UsersDatasetName
                </a>
            </li>
        } 
        <!-- Rights -->
        @if (Model.NavbarRights[(long)SystemDatasetsEnum.Rights] >= RightsEnum.R) 
        {
            <li class="nav-item">
                <a class="nav-link" asp-page="../Rights/Get">
                    <i class="fas fa-key"></i>
                    Rights
                </a>
            </li>
        }
    </ul>
    <ul class="navbar-nav">
        <!-- Settings -->
        <li class="nav-item">
            <a class="nav-link" asp-page="/Account/Settings">
                <i class="fas fa-cog"></i>
                Settings
            </a>
        </li> 
	</ul>


    <ul class="navbar-nav">
        <!-- Logout -->
        <li class="nav-item">
            <a asp-page="../Account/Logout" class="">
                <i class="fas fa-sign-out-alt"></i>
                Logout
            </a>
        </li> 
	</ul>
</div>