@using SharedLibrary.Enums 

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a asp-page="/Index" class="navbar-brand">MetaRMS</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a asp-page="/AppInit/Index" class="navbar-brand">Create new application</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a asp-page="/About">About</a></li>
            </ul>
        </div>
    </div>
</nav>