@using SharedLibrary.Enums 

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a asp-page="/Index" class="navbar-brand">MetaRMS</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a asp-page="/AppInit/Index" class="navbar-brand">Create new application</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a asp-page="/About">About</a></li>
            </ul>
        </div>
    </div>
</nav>